.entertainment-card {
    &__game {
        position: relative;
        height: 300px;
        &__content-container {
            padding-top: 14px;
            height: 164px;
            overflow-y: auto;
            position: relative;
        }
        
        &__header {
            height: 80px;
            display: flex;
            flex-direction: column;

            mat-card-title {
                span:first-child {
                  max-width: 200px;
                  overflow-x:hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap; 
                  transition: transform 5s ease; 
                  opacity: 1;
                }
              
                &:hover {
                  span:first-child {
                    transform: translateX(-100%);
                    overflow: visible;
                  }
                  app-rating{
                    opacity: 0;
                  }
                }
              }

            &__image-and-subtitle {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        &__content{
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 1);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            opacity: 1;
            pointer-events: none;
            transition: opacity 0.3s ease;
        }
        // &__content-container:hover {
        //     opacity: 1;
        // }
        // &__content-container:hover &--content {
        //     opacity: 0; 
        // }


    }

    &__game img {
        width: 64px;
        height: 90px;

    }

    &__actions {
        position: absolute;
        bottom: 0;
        right: 0;
    }

}


mat-card-title-group {
    flex-direction: column;
}

mat-card-title {
    font-size: 1rem;
    height: 32px;
    overflow-x: hidden;
    white-space: nowrap;
}