<mat-card class="entertainment-card__game">
  <mat-card-header class="entertainment-card__game__header" [ngClass]="score | scoreClass">
    <mat-card-title-group>
      <mat-card-title>
        <div class="flexbox flexbox--justify-space-between">
          <span>{{game.title}} </span>
          <app-rating [score]="score"></app-rating>
        </div>
      </mat-card-title>
      <div class="entertainment-card__game--header__image-and-subtitle">
        <mat-card-subtitle [ngClass]="score | scoreClass">
          <!-- <div>
            Platforms: {{game.platforms.join(', ')}}
          </div> -->
          <div *ngIf="game.firstReleaseDate">
            First released: {{game.firstReleaseDate * 1000 | date}}
          </div>
          <div *ngIf="!game.firstReleaseDate">
            First released: NA
          </div>
        </mat-card-subtitle>
        <!-- <img mat-card-md-image [src]="game.coverImageURL"> -->
      </div>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="entertainment-card__game__content-container">

    <div class="entertainment-card__game--content">
      <!-- <app-rating [score]="score"></app-rating> -->
      <img mat-card-md-image [src]="game.coverImageURL">
    </div>
    <div class="entertainment-card__game--summary">{{game.summary | textTruncate: 40 }}</div>

  </mat-card-content>

  <mat-card-actions align="end" class="entertainment-card__actions">
    <button mat-button color="primary">View Reviews</button>
  </mat-card-actions>
</mat-card>