<mat-card class="entertainment-card--game" >
  <mat-card-header  class="entertainment-card--game--header" [ngClass]="score | scoreClass" >
    <mat-card-title-group>
      <mat-card-title>{{game.title}}</mat-card-title>
      <div class="entertainment-card--game--header--image-and-subtitle">
        <mat-card-subtitle [ngClass]="score | scoreClass">
          <!-- <div>
            Platforms: {{game.platforms.join(', ')}}
          </div> -->
          <div *ngIf="game.firstReleaseDate">
            First released: {{game.firstReleaseDate * 1000 | date}}
          </div>
          <div *ngIf="!game.firstReleaseDate">
            First released: NA
          </div>
        </mat-card-subtitle>
        <!-- <img mat-card-md-image [src]="game.coverImageURL"> -->
    </div>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="entertainment-card--game--content-container">
    
    <div class="entertainment-card--game--content">
      <app-rating [score]="score"></app-rating>
      <img mat-card-md-image [src]="game.coverImageURL"> 
    </div>
    <div class="entertainment-card--game--summary">{{game.summary | textTruncate: 40 }}</div>

  </mat-card-content>

  <mat-card-actions align="end" class="entertainment-card--actions">
    <button mat-button color="primary">View Reviews</button>
  </mat-card-actions>
</mat-card>