<section [formGroup]="stepGroup" class="step-group">
    <!-- Your content for generalScoreGroup step -->
    <div *ngFor="let sliderName of generalScoreSliders; let i = index; let even = even">
        <div *ngIf="even" class="er-flex">
            <app-slider [sliderConfig]="ScoreSliderConfig" [formControlName]="sliderName"
                [labelName]="getGeneralScoreSliderLabel(i)" [defaultValue]="0"></app-slider>
            <app-slider [sliderConfig]="ScoreSliderConfig" [formControlName]="generalScoreSliders[i + 1]"
                [labelName]="getGeneralScoreSliderLabel(i + 1)" [defaultValue]="10"
                *ngIf="generalScoreSliders[i + 1]"></app-slider>
        </div>
        <ng-container *ngIf="!even">
            <mat-divider></mat-divider>
        </ng-container>
    </div>
    <p><strong>Average:</strong> {{ weightedAverageValue$ | async }}</p>
    <p><strong>Unweighted Average:</strong> {{ unweightedAverageValue$ | async }}</p>
    <div>
        <button type="button" mat-button [disabled]="stepGroup.invalid" matStepperNext>Next</button>
    </div>
</section>