<form [formGroup]="mainform" (ngSubmit)="postReview($event)">
    <mat-vertical-stepper [linear]="true">

        <!-- Step 1: Consent Group -->
        <mat-step [formGroup]="consentGroup" [stepControl]="consentGroup">
            <ng-template matStepLabel>Disclaimer & Consent</ng-template>
            <app-consent-step [consentGroup]="consentGroup"></app-consent-step>
        </mat-step>

        <!-- Step 2: Game Details Group -->
        <mat-step [formGroup]="gameDetailsGroup" [stepControl]="gameDetailsGroup" *ngIf="gameDetailsGroup">
            <ng-template matStepLabel>Select Game, Platform & Playtime</ng-template>
            <app-game-details-step [gameDetailsGroup]="gameDetailsGroup"></app-game-details-step>
        </mat-step>

        <!-- Step 3: Written Review Group -->
        <mat-step [formGroup]="writtenReviewGroup" [stepControl]="writtenReviewGroup" *ngIf="writtenReviewGroup">
            <ng-template matStepLabel>Write Review</ng-template>\
            <app-written-review-step [writtenReviewGroup]="writtenReviewGroup"></app-written-review-step>
        </mat-step>

        <!-- Step 4: General Score Group -->
        <mat-step [formGroup]="generalScoreGroup" [stepControl]="generalScoreGroup" *ngIf="generalScoreGroup">
            <ng-template matStepLabel>General Scoring</ng-template>
            <app-general-score-step [generalScoreGroup]="generalScoreGroup"> </app-general-score-step>
        </mat-step>

        <!-- Step 5: Pro Cons Group -->
        <mat-step [formGroup]="prosConsGroup" [stepControl]="prosConsGroup" *ngIf="prosConsGroup" [optional]="true">
            <ng-template matStepLabel>Pros & Cons</ng-template>
            <app-pros-cons-step [prosConsGroup]="prosConsGroup"> </app-pros-cons-step>
        </mat-step>

        <!-- Step 6: Technical Group -->
        <mat-step [stepControl]="technicalGroup" [formGroup]="technicalGroup" *ngIf="technicalGroup" [optional]="true">
            <ng-template matStepLabel>Technical</ng-template>
        </mat-step>

        <!-- Step 7: Preview Group -->
        <mat-step [stepControl]="previewGroup">

            <ng-template matStepLabel>Preview</ng-template>
            <ng-template matStepContent>
                <app-preview-step [previewGroup]="previewGroup"></app-preview-step>
            </ng-template>
        </mat-step>

        <!-- Step 8: Submit Group -->
        <mat-step [stepControl]="submitGroup" [formGroup]="submitGroup" *ngIf="submitGroup">
            <ng-template matStepLabel>Submit</ng-template>
            <button mat-button type="submit" [disabled]="mainform.invalid">Submit Review</button>
        </mat-step>

    </mat-vertical-stepper>
</form>