<div [formGroup]="technicalGroup"> 
    <!-- Your content for technicalGroup step -->

    <mat-form-field appearance="fill" hintLabel="optional, maximum 10000 characters" class="full-width">
        <mat-label>Describe any technical observations</mat-label>
        <textarea #technicalReviewInput formControlName="TechnicalReview" matInput
            placeholder="Ex. Frequent stuttering but ..." [errorStateMatcher]="errorStateMatcher"></textarea>

        <mat-hint align="end">
            {{ technicalReviewInput.value.length }} chars.
        </mat-hint>
        <mat-error *ngIf="isInvalid(technicalGroup, 'TechnicalReview')">
            <div class="error-text">
                <span>{{ getError(technicalGroup,'TechnicalReview') }}</span>
                <span>
                    {{ technicalReviewInput.value.length }} chars.
                </span>
            </div>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Score Modifier</mat-label>
        <mat-select formControlName="TechnicalReviewScoreModifier">
            <mat-option *appRange="{ start: 3, end: -3, step: -0.05 } let value" [value]="value">
                {{ value }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <button mat-button type="button" [disabled]="technicalGroup.invalid" matStepperNext>Next</button>
    </div>
</div>