<app-auth-wrapper>

  <mat-grid-list cols="4" rowHeight="52px" role="list" *ngIf="!!user">
    <mat-grid-tile [colspan]="4" [rowspan]="1" role="listitem">
      power level: {{user.power_level}}
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="4" role="listitem">
      <app-avatar [index]="user.avatar"></app-avatar>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" role="listitem">
      total reviews: {{0}}
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" role="listitem">
      helpfuls: {{0}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" role="listitem">
      account age: {{0}}
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" role="listitem">
      total playtime: {{user.total_playtime}}
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="2" role="listitem">
      <button mat-stroked-button role="button">View All Reviews</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1" role="listitem">

      {{user.display}}

    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="1" role="listitem">
      most recent review
    </mat-grid-tile>
  </mat-grid-list>
</app-auth-wrapper>