<ng-container *ngIf="gameDetails$ | async as details">
    <mat-card class="game-card">
      <mat-card-header>
        <mat-card-title>{{ details.game.name }}</mat-card-title>
      </mat-card-header>
      <!-- <img mat-card-image [src]="game.image" alt="Game image"> -->
      <mat-card-content>
        <p>Average play time: {{ details.gameScores.playtime }} hours</p>
        <p>Weighted score: {{ details.gameScores.overall_weighted }} / 10</p>
        <p>Unweighted score: {{ details.gameScores.overall_unweighted }} / 10</p>
        <p>Average gameplay score: {{ details.gameScores.gameplay }} / 10</p>
        <p>Graphics score: {{ details.gameScores.graphics }} / 10</p>
        <p>Music score: {{ details.gameScores.music }} / 10</p>
        <p>SFX score: {{ details.gameScores.sfx }} / 10</p>
        <p>UI/UX score: {{ details.gameScores.uiux }} / 10</p>
        <p>Story score: {{ details.gameScores.story }} / 10</p>
        <p>Technical: {{ details.gameScores.technical }}</p>
        <p>Platforms: {{ details.game.platforms }}</p>
        <p>Publisher: {{ details.game.involved_companies }}</p>
        <p>Release date: {{ details.game.first_release_date * 1000 | date}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="share()">Share</button>
        <button mat-button [routerLink]="['/write-review', details.game.id]">Write a review</button>
      </mat-card-actions>
    </mat-card>
  
    <h2>Summary</h2>
    <div *ngIf="details.game.summary">
      <p>{{ details.game.summary }}</p>
    </div>
  
    <h2>Screenshots</h2>
    <div><!-- Add logic to display screenshots here --></div>
  
    <h2>Reviews</h2>
    <div><!-- Add logic to display reviews here --></div>
  </ng-container>
  
  <mat-paginator *ngIf="reviews$ | async as reviews"
      [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page">
  </mat-paginator>