<app-banner 
title="Welcome to Entertainment Reviews" 
subtitle="Discover, share, and discuss your favorite games, movies, and TV shows!">
</app-banner>
<article>


    <section>
        <h2>Accurate Reviews and Community Rating</h2>
        <p>At <strong>Entertainment Reviews</strong>, we strive to provide accurate and unbiased assessments of games,
            with plans to expand to movies and TV shows in the future. Reviews aren't just penned by our expert team but
            also by community members. Each review undergoes community ratings, ensuring valuable insights from fellow
            enthusiasts.</p>
        <p>Our game review process meticulously evaluates every aspect: <strong>graphics</strong>,
            <strong>story</strong>,
            <strong>music</strong>, <strong>sound effects</strong>, <strong>user interface</strong>,
            and <strong>core gameplay</strong> . We consider pros, cons, and technical aspects to calculate overall
            scores. Upholding
            transparency, we provide unbiased ratings for each category, empowering you to make informed decisions
            enriched by diverse perspectives.
        </p>
    </section>
    <section>
        <h2>Write Your Own Reviews</h2>
        <p>Join our community of passionate gamers and entertainment enthusiasts by sharing your own reviews! Whether
            you're a seasoned critic or a casual player, your opinion matters to us. Simply sign up for an account, and
            start writing reviews for your favorite games, movies, or TV series. Express your thoughts, share your
            experiences, and contribute to the vibrant discussion surrounding entertainment media.</p>
        <p>To begin writing reviews, please sign in with your Google account. Your sign-in ensures that your
            contributions are authentic and helps us maintain a trustworthy community environment.</p>
    </section>

    <section>
        <h2>Building Trust within the Gaming Community</h2>
        <p>At <strong>Entertainment Reviews</strong>, we understand the importance of trust and credibility within the
            gaming community. That's why we prioritize integrity, authenticity, and community engagement in everything
            we do. We foster an inclusive environment where gamers can connect, discuss, and engage with each other in
            meaningful ways. By building trust and fostering positive relationships, we aim to create a welcoming space
            for all gamers to explore and enjoy their favorite entertainment content.</p>
    </section>

</article>