.banner-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 165px; /* Adjust the height as needed */
    overflow: hidden; /* Ensure the banner image doesn't overflow */

    .banner-image {
        flex: 1;
        height: 100%;
        position: relative;
        filter: blur(3px);
        img {
            width: 100%;
            transition: top 0.5s ease; 
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.25); 
            filter: blur(10px);
            transition: filter 0.25s ease; 
        }
        transition: filter 0.5s ease; 
    }

    .banner-content {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    &:hover .banner-image {
        filter: blur(0px); /* Remove blur on hover */
    }
}